<div class="row">
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
      <a href="/de-thi-toeic/thi-thu-toeic-de-dog/" title="Làm Đề thi thử TOEIC ngày 15/05/2020" class="link-wrap">
        <div class="calendar">
          <span class="year">2020</span>
          <span class="month">05</span>
          <span class="date">15</span>
        </div>
        <div class="content">
          <span class="info">
          <span class="glyphicon glyphicon-pencil"></span>
          52 câu
          </span>
          <span class="info info-time">
          <span class="glyphicon glyphicon-time"></span>
          40 phút
          </span>
          <span class="status-label">mới</span>
        </div>
        </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
        <a href="/de-thi-toeic/thi-thu-toeic-de-just/" title="Làm Đề thi thử TOEIC ngày 13/05/2020" class="link-wrap">
        <div class="calendar">
          <span class="year">2020</span>
          <span class="month">05</span>
          <span class="date">13</span>
        </div>
        <div class="content">
          <span class="info">
          <span class="glyphicon glyphicon-pencil"></span>
          41 câu
          </span>
          <span class="info info-time">
          <span class="glyphicon glyphicon-time"></span>
          31 phút
          </span>
        </div>
        </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
        <a href="/de-thi-toeic/thi-thu-toeic-de-stop/" title="Làm Đề thi thử TOEIC ngày 11/05/2020" class="link-wrap">
        <div class="calendar">
        <span class="year">2020</span>
        <span class="month">05</span>
        <span class="date">11</span>
        </div>
        <div class="content">
        <span class="info">
        <span class="glyphicon glyphicon-pencil"></span>
        30 câu
        </span>
        <span class="info info-time">
        <span class="glyphicon glyphicon-time"></span>
        24 phút
        </span>
        </div>
        </a>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="toeic-item toeic-item-2
                    
                    ">
        <a href="/de-thi-toeic/thi-thu-toeic-de-imitate/" title="Làm Đề thi thử TOEIC ngày 08/05/2020" class="link-wrap">
        <div class="calendar">
        <span class="year">2020</span>
        <span class="month">05</span>
        <span class="date">08</span>
        </div>
        <div class="content">
        <span class="info">
        <span class="glyphicon glyphicon-pencil"></span>
        51 câu
        </span>
        <span class="info info-time">
        <span class="glyphicon glyphicon-time"></span>
        39 phút
        </span>
        </div>
      </a>
    </div>
  </div>
</div>