
<div class="desc">
  <h1 class="blue-color">Đề thi thử TOEIC rút gọn (Toeic Mini tests)</h1>
  <h4 style="line-height: 27px;">
  Mỗi đề thi TOEIC rút gọn dưới đây dài trong khoản 20 - 40 phút
  <br>
  (so với <a routerLink="/de-thi-full">
  đề thi Toeic full dài 120 phút</a>).
  </h4>
  <h4 style="margin-top: 15px;">
  <strong>Đây là cách tuyệt vời</strong> để giúp bạn có thể tự mình
  <a routerLink="/de-thi-full">thi thử TOEIC</a> thường xuyên.
  </h4>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
      <a href="/de-thi-toeic/thi-thu-toeic-de-dog/" title="Làm Đề thi thử TOEIC ngày 15/05/2020" class="link-wrap">
        <div class="calendar" style="margin-top: 5px;">
          <span class="year">2020</span>
          <span class="month">05</span>
          <span class="date">15</span>
        </div>
        <div class="content">
          <span class="info">
          <span class="glyphicon glyphicon-pencil"></span>
          52 câu
          </span>
          <span class="info info-time">
          <span class="glyphicon glyphicon-time"></span>
          40 phút
          </span>
          <span class="status-label">mới</span>
        </div>
        </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
        <a href="/de-thi-toeic/thi-thu-toeic-de-just/" title="Làm Đề thi thử TOEIC ngày 13/05/2020" class="link-wrap">
        <div class="calendar" style="margin-top: 5px;">
          <span class="year">2020</span>
          <span class="month">05</span>
          <span class="date">13</span>
        </div>
        <div class="content">
          <span class="info">
          <span class="glyphicon glyphicon-pencil"></span>
          41 câu
          </span>
          <span class="info info-time">
          <span class="glyphicon glyphicon-time"></span>
          31 phút
          </span>
        </div>
        </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="toeic-item toeic-item-2">
        <a href="/de-thi-toeic/thi-thu-toeic-de-stop/" title="Làm Đề thi thử TOEIC ngày 11/05/2020" class="link-wrap">
        <div class="calendar" style="margin-top: 5px;">
        <span class="year">2020</span>
        <span class="month">05</span>
        <span class="date">11</span>
        </div>
        <div class="content">
        <span class="info">
        <span class="glyphicon glyphicon-pencil"></span>
        30 câu
        </span>
        <span class="info info-time">
        <span class="glyphicon glyphicon-time"></span>
        24 phút
        </span>
        </div>
        </a>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="toeic-item toeic-item-2
                    
                    ">
        <a href="/de-thi-toeic/thi-thu-toeic-de-imitate/" title="Làm Đề thi thử TOEIC ngày 08/05/2020" class="link-wrap">
        <div class="calendar" style="margin-top: 5px;">
        <span class="year">2020</span>
        <span class="month">05</span>
        <span class="date">08</span>
        </div>
        <div class="content">
        <span class="info">
        <span class="glyphicon glyphicon-pencil"></span>
        51 câu
        </span>
        <span class="info info-time">
        <span class="glyphicon glyphicon-time"></span>
        39 phút
        </span>
        </div>
      </a>
    </div>
  </div>
</div>