.dethitoeic {
    background-color: #eaefec
}

.custom-tabs-content {
    padding-left: 15px;
    padding-right: 15px
}

.blue-color, .full-support-plan-color {
    color: #33abe5;
}

.desc {
    margin: 15px auto 45px;
    text-align: center;
}

.custom-tabs {
    display: table;
    border-top: 1px solid #fff;
    border-spacing: 1px 0
}

.custom-tabs.nav-tabs.nav-justified>li {
    display: table-cell;
    vertical-align: middle;
    width: 25%
}

.custom-tabs.nav-tabs>li>a {
    text-transform: uppercase;
    font-family: roboto-medium;
    padding: 8px 0 0;
    font-size: 14px;
    border: 0;
    color: #fff
}

.custom-tabs.nav-tabs>li>a:hover,.custom-tabs.nav-tabs>li>a:focus {
    color: #fff;
    background-color: transparent
}

.custom-tabs.nav-tabs>li {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #33abe5;
    margin-left: 1px;
    -webkit-box-shadow: inset 0 8px 10px -6px rgba(0,0,0,.85);
    -moz-box-shadow: inset 0 8px 10px -6px rgba(0,0,0,.85);
    box-shadow: inset 0 8px 10px -6px rgba(0,0,0,.85)
}

.custom-tabs.nav-tabs>li.active {
    background-color: #87c52e
}

.custom-tabs.nav-tabs>li:first-child {
    margin-left: 0
}

.custom-tabs.nav-tabs>li.active>a {
    color: #fff
}

.custom-tabs.nav-tabs>li.active>a,.custom-tabs.nav-tabs>li.active>a:focus,.custom-tabs.nav-tabs>li.active>a:hover,.custom-tabs.nav-tabs.nav-justified>a,.custom-tabs.nav-tabs.nav-justified>a:focus,.custom-tabs.nav-tabs.nav-justified>a:hover {
    border: 0;
    color: #fff;
    background-color: transparent
}

.custom-tabs.nav-tabs.nav-justified>.active>a,.custom-tabs.nav-tabs.nav-justified>.active>a:focus,.custom-tabs.nav-tabs.nav-justified>.active>a:hover,.custom-tabs.nav-tabs>li.active>a,.custom-tabs.nav-tabs>li.active>a:focus,.custom-tabs.nav-tabs>li.active>a:hover {
    border: 0;
    background-color: transparent
}

.category {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #33abe5;
    background-color: #fff;
    z-index: 9999
}

.category-list li {
    float: left;
    width: 33.33%;
    text-align: center;
    border-left: 1px solid #33abe5
}

.category-list li:hover {
    background-color: #b7eddb
}

.category-list li:first-child {
    border: 0
}

.category-list li a {
    display: block;
    color: #33abe5;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase
}

.category-list li a:hover {
    text-decoration: none
}

.toeic-item {
    background-color: #fff;
    border-radius: 50px;
    padding: 0 10px 0 0;
    overflow: hidden
}

.toeic-item-2 {
    margin-top: 15px
}

.toeic-item.toeic-item-2.latest-mini-test {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    padding-right: 40px
}

.fb-like.latest-mini-test {
    display: inline-block;
    vertical-align: top;
    margin: 90px 10px 0
}

@media only screen and (max-width: 767px) {
    .toeic-item.toeic-item-2.latest-mini-test {
        padding-right:inherit;
        display: block
    }

    .fb-like.latest-mini-test {
        display: block;
        margin: 10px 0
    }
}

.toeic-item-1 .link-wrap,.toeic-item-2 {
    border-radius: 50px;
    transition: box-shadow .2s linear
}

.toeic-item-1 .link-wrap:hover,.toeic-item-2:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3)
}

.toeic-item .image {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-right: 1px solid #ccc
}

.toeic-item .image img {
    border-radius: 50%;
    max-width: 100%
}

.toeic-item .content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 10px
}

.toeic-item .item-title {
    font-size: 15px;
    font-family: roboto-bold;
    line-height: 1.3;
    margin: 0 0 2px
}

.toeic-item .desc {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0 0 10px
}

.button {
    display: inline-block;
    padding: 5px 10px;
    min-width: 70px;
    font-size: 12px;
    font-family: roboto-bold;
    background-color: #33abe5;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase
}

.button-1 {
    background-color: #ccc
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #309ace
}

.button-1:hover {
    background-color: #999
}

.btn-group .button+.button {
    margin-right: 8px
}

.toeic-item.toeic-item-1 {
    position: relative;
    overflow: visible;
    padding: 0
}

.toeic-item.toeic-item-1 .image {
    border: 0
}

.toeic-item.toeic-item-1 .content {
    padding-left: 10px
}

.toeic-item.toeic-item-1 .pre-result {
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%)
}

.toeic-item.toeic-item-1 .item-title {
    font-size: 15px;
    color: #333
}

.toeic-item.toeic-item-1 a,.toeic-item.toeic-item-2 a {
    text-decoration: none;
    display: block
}

.pre-result {
    display: block;
    width: 102px;
    height: 22px;
    background-image: url(https://tienganhmoingay.com/static/ToeicTests/images/ketquatruocday.png);
    background-repeat: no-repeat;
    background-size: cover
}

.pre-result:hover {
    background-image: url(https://tienganhmoingay.com/static/ToeicTests/images/ketquatruocday_hover.png)
}

.toeic-item.toeic-item-2 {
    padding: 8px 10px 10px 30px
}

.toeic-item.toeic-item-2 .calendar {
    float: left;
}

.calendar {
    position: relative;
    width: 54px;
    height: 61px;
    background: url(https://tienganhmoingay.com/static/ToeicTests/images/calendar.png) no-repeat;
    background-size: cover;
}

.calendar .year {
    font-size: 12px;
    color: #fff;
    top: 4px;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.calendar .month {
    font-size: 14px;
    top: 42px;
}
.calendar .month, .calendar .date {
    color: #666;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.calendar .date {
    font-size: 20px;
    top: 20px;
}
.calendar .month, .calendar .date {
    color: #666;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    display: block;
    padding: 3px 25px 3px 12px;
    min-width: 111px;
    background-color: #33abe5;
    color: #fff;
    font-size: 15px;
    font-family: roboto-bold;
    border-radius: 40px
}

.best-score-wrapper {
    text-align: center;
    margin: -15px auto 25px
}

.best-score-wrapper .avatar-img {
    width: 35px;
    height: 35px
}

.info span {
    margin-right: 10px
}

.info.info-time {
    background-color: #7bd7b1;
    margin-top: 3px
}



.toeic-item.toeic-item-1 .content .status-label {
    top: 55px;
    right: 10px;
    width: 42px;
    height: 35px
}

.status-label {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #ed1e24;
    color: #fff;
    text-transform: uppercase;
    font-family: roboto-bold;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 0
}

.page-title {
    font-size: 25px;
    font-family: roboto-light;
    color: #000;
    position: relative;
    padding-left: 16px;
    text-align: left
}

.page-title:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: #87c52e
}

.custom-tabs-content section+section {
    padding-top: 41px
}

.custom-tabs-content section .page-title {
    margin-bottom: 17px
}

.custom-tabs-content section .toeic-item {
    margin-bottom: 25px
}

.custom-tabs-content .tab-pane {
    padding-top: 20px;
    padding-bottom: 20px
}

.sub-title {
    text-align: center;
    margin-bottom: 18px;
    margin-top: 13px
}

.sub-title img {
    margin-bottom: 10px
}

.sub-title h3 {
    font-family: roboto-medium;
    color: #87c52e;
    text-transform: uppercase;
    margin: 0
}

.loadmore-btn,.view-all-ranking-btn {
    display: block;
    background-color: #33abe5;
    width: 50px;
    height: 50px;
    margin: 15px auto 0;
    border-radius: 50%;
    text-align: center;
    font-family: roboto-light;
    font-size: 36px;
    color: #fff;
    text-decoration: none
}

.loadmore-btn:hover,.view-all-ranking-btn:hover {
    color: #fff;
    text-decoration: none
}

.radio-gr {
    padding: 15px 10px
}

.radio-1 input[type=radio] {
    display: none
}

.radio-1 label:before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 1px
}

.radio-1 label:after {
    content: "";
    opacity: 0;
    transform: opacity .3s linear;
    width: 12px;
    height: 12px;
    background-color: #33abe5;
    border-radius: 4px;
    position: absolute;
    left: 3px;
    top: 4px
}

.radio-1 label {
    font-size: 11px;
    font-family: roboto-medium;
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    white-space: nowrap
}

.radio-1 input[type=radio]:checked+label:after {
    opacity: 1
}

.top-radio {
    margin-left: -5px;
    margin-right: -5px
}

.radio-gr .radio-1 {
    float: left;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px
}

.bot-radio .radio-1 {
    margin-left: 33.33%;
    padding-top: 10px;
    padding-bottom: 15px
}

.all-toeic .category>ul>li>a {
    color: #fff;
    background-color: #33abe5;
    position: relative
}

.all-toeic .category>ul>li>a span {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%)
}

.all-toeic .category>ul>li {
    border-color: #fff;
    border-left: 0
}

.all-toeic .category>ul>li.active>a {
    background-color: #87c52e
}

.all-toeic .category>ul>li.active .child-list {
    display: block
}

.all-toeic .category .child-list {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #33abe5
}

@media only screen and (max-width: 767px) {
    .all-toeic .category>ul>li:last-child>a {
        font-size:15px;
        padding: 4px 0
    }

    .toeic-item {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto
    }

    .toeic-item.toeic-item-1,.toeic-item.toeic-item-2 {
        max-width: 240px
    }
}


ul.ranking-table {
    list-style: none
}

.ranking-table li ul li {
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    vertical-align: middle
}

.ranking-table li.header {
    padding-top: 10px;
    padding-bottom: 10px
}

.ranking-table li.ranking-num {
    width: 13%
}

.ranking-table li.ranking-member {
    width: 42%;
    text-align: left
}

.ranking-table li.ranking-status {
    width: 15%
}

.ranking-table li.ranking-score {
    width: 25%
}

.ranking-table ul .status-icon {
    width: 13px;
    height: 13px
}

.ranking-table li.ranking-member.header {
    text-align: center
}

.ranking-table li.ranking-member .avatar-img,.ranking-table li.ranking-member .first-name {
    vertical-align: middle
}

.ranking-table li.ranking-member .avatar-img {
    width: 35px;
    height: 35px
}

.ranking-table li.ranking-member .account-name {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: #fbd309;
    padding: 3px 3px 0;
    color: #111;
    border-radius: 3px
}

.ranking-table li.ranking-member .account-name.trial {
    background: #fff;
    color: #1c94c4
}

.ranking-table li.header-row {
    background-color: #87c52e;
    color: #fff;
    text-align: center
}

.ranking-table li.odd-row {
    background-color: #c6c1c1;
    color: #fff
}

.ranking-table li.odd-row a {
    color: #333;
    text-decoration: none
}

.ranking-table li.even-row {
    background-color: #fff;
    color: #333
}

.ranking-table li.even-row a {
    color: #333;
    text-decoration: none
}

.ranking-table li.congrats-row {
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer
}

.ranking-table li.congrats-row.odd-row {
    color: #ff0
}

.ranking-table li.congrats-row.even-row {
    color: red
}

.ranking-table-wrapper {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px
}

@media only screen and (max-width: 992px) {
    .ranking-table-wrapper {
        width:80%;
        display: block;
        margin: 0 auto
    }

   
}

@media only screen and (max-width: 767px) {
    .ranking-table-wrapper {
        width:100%
    }

     
}

.ranking-table-title {
    font-family: roboto-light;
    color: #000;
    position: relative;
    padding-left: 16px;
    text-align: center
}

.ranking-table {
    max-width: 540px;
    margin: 0 auto 60px
}

.ranking-table li.ranking-member {
    width: 55%
}

.ranking-table li.ranking-member .avatar-img {
    width: 40px;
    height: 40px
}

.ranking-table li.congrats-row {
    background-color: #fbd309
}

@media only screen and (min-width: 992px) {
    .dethitoeic main {
        width:1080px;
        margin-left: auto;
        margin-right: auto
    }

    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 40px;
        top: 55%;
        margin-top: -20px
    }

    .custom-tabs,.custom-tabs.nav-tabs.nav-justified>li>a {
        border: 0
    }

    .custom-tabs.nav-tabs>li {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .custom-tabs.nav-tabs>li>a {
        padding-top: 0;
        font-size: 20px
    }

    .category {
        width: 100px;
        border: 1px solid #33abe5;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%)
    }

    .category-list {
        margin-bottom: 0
    }

    .category-list li {
        float: none;
        width: 100%;
        border-left: 0
    }

    .page-title {
        font-size: 29px
    }

    .page-title:before {
        width: 4px;
        height: 80px
    }

    .page-title span {
        display: block;
        margin-top: 10px;
        font-size: 24px
    }

    .toeic-item .content {
        padding-left: 20px
    }

    .custom-tabs-content section .page-title {
        margin-bottom: 30px
    }

    .custom-tabs-content section .toeic-item {
        margin-bottom: 27px
    }

    .custom-tabs-content section .best-score-wrapper {
        margin-bottom: 27px
    }

    .custom-tabs-content .tab-pane {
        padding-top: 35px;
        padding-bottom: 70px
    }

    .sub-title {
        margin-bottom: 50px;
        margin-top: 5px
    }

    .sub-title img {
        margin-bottom: 18px
    }

    .category-list li {
        border-top: 1px solid #33abe5
    }

    .toeic-item.big-item .image,.toeic-item.big-item .content {
        float: left
    }

    .toeic-item.big-item .radio-gr {
        overflow: hidden;
        padding: 18px 5px 5px 35px
    }

    .all-toeic .category>ul>li>a span {
        top: auto;
        bottom: 6px;
        transform: rotate(180deg);
        margin-left: -8px;
        transition: transform .3s linear
    }

    .all-toeic .category>ul>li.active>a span {
        transform: rotate(360deg)
    }

    .all-toeic .category {
        width: 133px
    }

    .all-toeic .category .child-list {
        position: static
    }

    .all-toeic .category>ul>li.active .child-list {
        display: table-row
    }

    .all-toeic .category>ul>li {
        text-align: left;
        display: table
    }

    .all-toeic .category>ul>li>a {
        padding: 10px 15px;
        height: 60px;
        display: table-cell;
        vertical-align: middle;
        transition: background-color .2s linear
    }

    .all-toeic .category>ul>li>a:hover {
        background-color: #87c52e
    }
}
//iPhone X
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
	
	.toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 85px;
        top: 55%;
        margin-top: -20px
  }
}
//iPhone 678 Plus
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 105px;
        top: 55%;
        margin-top: -20px
    }
}

//iPhone 678
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 85px;
        top: 55%;
        margin-top: -20px
    }
}

//iPhone 5
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2){
  .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 60px;
        top: 55%;
        margin-top: -20px
  }
}