<div *ngFor="let item of arrayQuestionAnswer">
  {{item.a}}
</div>
<div class="text-center header-quiz text-white font-roboto-b"> 
	<div class="">
		<span class="ng-tns-c160-1">Đã làm: {{indexCauHoi}} câu</span>
    <span class="ng-tns-c160-1">
      {{hours}} : {{minute}} : {{seconds}}
    </span>
    <span  class="ng-tns-c160-1">Điểm: {{score | number:'1.0-0'}}/100</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="toeic-item">
			<div class="vn-tit-question"><strong class="cl5 fl">Question {{indexCauHoi + 1}} : </strong></div>
			<div class="question-content" id="question-content">
				<div class="content-quiz text-center">
					<div *ngIf="image" class="">
						<img style="padding-bottom : 10px" class="col-sm-5" src="{{image}}">
					</div>
						<div class="">
							<audio src="{{ mp3 }}" class="audio_file col-sm-5" controls="controls">
								<!-- <source controls src="{{ mp3 }}" type="audio/mpeg">
								Your browser does not support the audio element. -->
							</audio>
						</div>
					</div>
					<br>
					<div class="vn-box-answer">
						<div class="">
							<div class="radio-button">
								<radio-button-part3 *ngIf="checkUserChooseAnswer" [items]="items" [(ngModel)]="selectedItem">
								</radio-button-part3>
								<div *ngIf="!checkUserChooseAnswer">
									<label *ngFor="let item of items" class="container1">
                    <input 
                    type="radio" [disabled]="true"
                    [value]="item.value" [checked]="item.value == selectedItem1"
                    name="radio6" /> 
                    {{item.name}}
                    <span class="checkmark"></span>
                  </label>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="show || checkGiaiThich" [@fadeInOut-1] class="content-quiz11">
						<span class="color-orange"><strong>Gợi ý :</strong>
            </span>
						<p [innerHTML]="goiY"></p>
					</div>
					<div *ngIf="checkGiaiThich" [@fadeInOut-1] class="content-quiz11">
						<span class="color-orange"><strong>Giải thích :</strong>
            </span>
						<p [innerHTML]="giaiThich"></p>
						<strong>Đáp án cần chọn là {{cauDung | titlecase}}</strong>
					</div>
				</div>

				<div class="vn-emoticon vn-emoticon5 emotion_3">
					<div *ngIf="showInCorrect" [@fadeInOut-1] class="vn-box-ketqua vn-box-ketqua1">
						<h3 class="color-red">Sai rồi</h3>
					</div>

					<div *ngIf="showCorrect" [@fadeInOut-1] class="vn-box-ketqua vn-box-ketqua2">
						<h3 class="color-green">Wow đúng rồi</h3>
					</div>
				</div>

				<p class="text-center mg-top-20">
					<a *ngIf="!checkGoiY" style="margin-bottom: 5px;" (click)="clickGoiY()"
						class="cursor-pointer btn-white-border-green btn-action visiable">
						<fa-icon style="margin-right: 5px;" [icon]="faLightbulb"></fa-icon>
						<span>Gợi ý</span>
					</a>
					<a *ngIf="checkGoiY" style="margin-bottom: 5px;" (click)="clickXemLoiGiai()"
						class="cursor-pointer btn-white-border-green btn-action visiable">
						<fa-icon style="margin-right: 5px;" [icon]="faWindowMaximize"></fa-icon>
						<span>Xem lời giải</span>
					</a>
					<a *ngIf="selectedItem" (click)="kiemTra()" style="background-color: green;"
						class="false cursor-pointer text-white btn-action visible">
						Kiểm tra
						<fa-icon [icon]="faCheckCircle"></fa-icon>
					</a>
					<span *ngIf="checkCauTiepTheo && !selectedItem">
            <a (click)="openModal(template)"
              class="false cursor-pointer text-white btn-green btn-action visible">
              Câu tiếp theo
              <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </a>
          </span>
					<span *ngIf="!checkCauTiepTheo && selectedItem == ''">
            <a (click)="nextCauHoi()"
              class="false cursor-pointer text-white btn-green btn-action visible">
              Câu tiếp theo
              <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </a>
          </span>
				</p>

			</div>
		</div>
	</div>
	<loading *ngIf="isLoading">{{ isLoading }}</loading>
	<ng-template #template>
		<div class="header_modal modal-header">
			<h4 class="modal-title pull-left">Bạn chưa trả lời câu hỏi này?</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
		</div>
		<div class="modal-body">
			<div class="body_fb">
				<p>Bạn muốn bỏ qua câu hỏi này?</p>
				<p class="text-center">
					<a (click)="nextCauHoi()"
						class="cursor-pointer bg-green text-white text-center btn-footer-quiz ">Đồng ý</a>

					<a (click)="modalRef.hide()" class="cursor-pointer bg-grey text-center btn-footer-quiz">Hủy
						bỏ</a>
				</p>
			</div>
		</div>
	</ng-template>