<header style="background-color: #68a7c6;">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a  class="navbar-brand" routerLink="/">
    <!-- <img class="navbar-logo" style="height: 50px" src="./assets/todo_logo.png" alt="Logo"> -->
    Gấu Guru
    </a>
    <button  (click)="toggleMenu()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
         <span class="navbar-toggler-icon"></span>
    </button>

    <div class="header__menu header__menu--desktop" [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div style="padding-right : 20px" class="btn-group" dropdown>
        <button dropdownToggle type="button" class="submit-btn oval-btn btn btn-primary dropdown-toggle">
          Đề thi 
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/de-thi-rut-gon">ĐỀ THI RÚT GỌN</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/de-thi-full">ĐỀ THI TOEIC</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/de-luyen-tap">ĐỀ LUYỆN TẬP</a></li>
      </ul>
      </div> -->

      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-custom ">
            <a (click)="toggleMenu()" class="nav-link submit-btn oval-btn" routerLink="/de-thi-rut-gon">ĐỀ THI RÚT GỌN</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item nav-custom">
          <a class="nav-link submit-btn oval-btn" routerLink="/de-thi-full">ĐỀ THI TOEIC</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item nav-custom">
          <a class="nav-link submit-btn oval-btn" routerLink="/de-luyen-tap">ĐỀ LUYỆN TẬP</a>
        </li>
      </ul> 
    </div>
  </nav>
</header>
