<div style="margin: 30px auto; text-align: center;">
  <h4>Chế độ <span class="button" style="vertical-align: top;">Luyện</span> –
  Kết quả được tính vào tiến triển của bạn ở cột mốc</h4>
  <h4>Chế độ <span class="button button-1" style="vertical-align: top;">Học</span> –
  Không tính kết quả. Chọn chế độ này khi bạn còn yếu và chỉ muốn học
  </h4>
</div>
<div class="row">
<div class="padding-bottom-5px col-sm-4">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_1.png" alt="Đề luyện thi Toeic part 1">
</div>
<div class="content">
<h3 class="item-title">
Phần 1
</h3>
<p><span class="desc">Mô tả hình ảnh</span>
<br>
<a href="https://tienganhmoingay.com/luyen-nghe-toeic/luyen-nghe-toeic-part-1/?r=ptests">
Luyện nghe Toeic Part 1
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-phan-1/?r=ptests">
Mẹo thi Toeic Part 1
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p1/" title="Luyện phần 1 (Tính kết quả)" class="button">Luyện</a>
<a routerLink="/bai-test-rut-gon-part1" title="Học phần 1 (Không tính kết quả)" class="button button-1">học</a>
</div>
</div>
</div>
</div>
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_2.png" alt="Đề luyện thi Toeic part 2">
</div>
<div class="content">
<h3 class="item-title">
Phần 2
</h3>
<p><span class="desc">Hỏi - đáp</span>
<br>
<a href="https://tienganhmoingay.com/luyen-nghe-toeic/luyen-nghe-toeic-part-2/?r=ptests">
Luyện nghe Toeic Part 2
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-2/?r=ptests">
Mẹo thi Toeic Part 2
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p2/" title="Luyện phần 2 (Tính kết quả)" class="button">Luyện</a>
<a routerLink="/bai-test-rut-gon-part2" title="Học phần 2 (Không tính kết quả)" class="button button-1">học</a>
</div>
</div>
</div>
</div>
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_3.png" alt="Đề luyện thi Toeic part 3">
</div>
<div class="content">
<h3 class="item-title">
Phần 3
</h3>
<p><span class="desc">Đoạn hội thoại</span>
<br>
<a href="https://tienganhmoingay.com/luyen-nghe-toeic/luyen-nghe-toeic-part-3/?r=ptests">
Luyện nghe Toeic Part 3
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-3/?r=ptests">
Mẹo thi Toeic Part 3
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p3/" title="Luyện phần 3 (Tính kết quả)" class="button">Luyện</a>
<a routerLink="/bai-test-rut-gon-part3" title="Học phần 3 (Không tính kết quả)" class="button button-1">học</a>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_4.png" alt="Đề luyện thi Toeic part 4">
</div>
<div class="content">
<h3 class="item-title">
Phần 4
</h3>
<p><span class="desc">Bài nói chuyện ngắn</span>
<br>
<a href="https://tienganhmoingay.com/luyen-nghe-toeic/luyen-nghe-toeic-part-4/?r=ptests">
Luyện nghe Toeic Part 4
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-4/?r=ptests">
Mẹo thi Toeic Part 4
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p4/" title="Luyện phần 4 (Tính kết quả)" class="button">Luyện</a>
<a href="/de-luyen-tap/toeic-p4/?learning=1" title="Học phần 4 (Không tính kết quả)" class="button button-1">học</a>
</div>
</div>
</div>
</div>
<div class="col-sm-8 padding-bottom-5px">
<div class="toeic-item big-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_5.png" alt="Đề luyện thi Toeic part 5">
</div>
<div class="content">
<h3 class="item-title">
Phần 5
</h3>
<p><span class="desc">Câu không hoàn chỉnh</span>
<br>
<a href="/phan-tich-de-thi-toeic/phan-tich-phan-5-doc-reading-toeic/?r=ptests">
Chiến lược làm phần 5 TOEIC
</a>
<br>
<a href="/meo-thi-toeic/meo-thi-toeic-part-5/?r=ptests">
Mẹo thi Toeic Part 5
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-5-tu-loai-1/?r=ptests">
Mẹo thi Toeic Part 5 Từ loại
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-5-ngu-phap/?r=ptests">
Mẹo thi Toeic Part 5 Ngữ pháp
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-5-tu-vung/?r=ptests">
Mẹo thi Toeic Part 5 Từ vựng
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-grammar/" class="button">Luyện</a>
<a href="/de-luyen-tap/toeic-grammar/?learning=1" class="button button-1">học</a>
</div>
</div>
<div class="radio-gr">
<div class="top-radio">
<div class="radio-1">
<input type="radio" name="radio" id="p5_pos">
<label for="p5_pos">
từ loại
</label>
</div>
<div class="radio-1">
<input type="radio" name="radio" id="p5_grammar">
<label for="p5_grammar">
ngữ pháp
</label>
</div>
<div class="radio-1">
<input type="radio" name="radio" id="p5_vocab">
<label for="p5_vocab">
từ vựng
</label>
</div>
</div>
<div class="bot-radio">
<div class="radio-1">
<input type="radio" name="radio" id="p5_all" checked="checked">
<label for="p5_all">
tổng hợp
</label>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_6.png" alt="Đề luyện thi Toeic part 6">
</div>
<div class="content">
<h3 class="item-title">
Phần 6
</h3>
<p><span class="desc">Hoàn thành đoạn văn</span>
<br>
<a href="/phan-tich-de-thi-toeic/phan-tich-phan-6-doc-reading-toeic/?r=ptests">
Chiến lược làm phần 6 TOEIC
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-6/?r=ptests">
Mẹo thi Toeic Part 6
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p6/" title="Luyện phần 6 (Tính kết quả)" class="button">Luyện</a>
</div>
</div>
</div>
</div>
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_7.png" alt="Đề luyện thi Toeic part 7">
</div>
<div class="content">
<h3 class="item-title">
Phần 7
</h3>
<p><span class="desc">Đoạn đơn</span>
<br>
<a href="/phan-tich-de-thi-toeic/phan-tich-phan-7-doc-reading-toeic/?r=ptests">
Chiến lược làm phần 7 TOEIC
</a>
<br>
<a href="https://tienganhmoingay.com/meo-thi-toeic/meo-thi-toeic-part-7/?r=ptests">
Mẹo thi Toeic Part 7
</a>
</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p7/" title="Luyện phần 7 Đoạn đơn (Tính kết quả)" class="button">Luyện</a>
<a href="/de-luyen-tap/toeic-p7/?learning=1" title="Học phần 7 Đoạn đơn (Không tính kết quả)" class="button button-1">học</a>
</div>
</div>
</div>
</div>
<div class="col-sm-4 padding-bottom-5px">
<div class="toeic-item">
<div class="image">
<img src="https://tienganhmoingay.com/static/ToeicTests/images/de_luyen_tap_phan_8.png" alt="ets">
</div>
<div class="content">
<h3 class="item-title">
Phần 7
</h3>
<p class="desc">Đoạn kép</p>
<div class="btn-group">
<a href="/de-luyen-tap/toeic-p7-doubles/" title="Luyện phần 7 Đoạn kép (Tính kết quả)" class="button">Luyện</a>
</div>
</div>
</div>
</div>
</div>
 
