.submit-btn {
    display: block;
    /* margin-top: 1.071rem; */
    /* padding: 1.071rem; */
    text-align: center;
    border: none;
    color: #fff;
    background-color: #33abe5;
    font-family: roboto-regular;
    font-size: 20px;
}

.oval-btn {
    border-radius: 3px
}

.nav-custom {
  padding-right: 20px;
}