<!-- <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="header__menu header__menu--desktop" [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-custom">
            <a (click)="toggleMenu()" class="nav-link submit-btn oval-btn" routerLink="/">All Items</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item nav-custom">
          <a class="nav-link submit-btn oval-btn" routerLink="/unknown">"Unknown"</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item active nav-custom">
          <a class="nav-link submit-btn oval-btn" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
</nav> -->

