<div lass="row">
	<div class="col-sm-9">
		<div class="quiz-page bg-white mg-bottom-20 mg-top-20 border-r-6 padding-15 animated zoomIn">
			<div class="vn-box-scores">
				<div class="vn-scores-child">
					<div class="vn-antimate"></div>
					<div class="vn-show-scores"><img class="icon-top-star" src="https://vungoi.vn/images/s-top-star.png">
						<div class="score-detail-show">
							<p class="pdtop20 no-margin font-size-18 color-white text-uppercase">Điểm số</p>
							<p><b>{{score | number:'1.0-0'}}</b></p>
						</div>
						<span><img src="https://vungoi.vn/images/s-check.png">Tốc độ trung bình {{trungBinh1Cau | number:'1.0-0'}} s/câu</span><span class=""><img src="https://vungoi.vn/images/s-check.png">Bài làm đúng {{totalCorrect}}/{{totalQuestion}} </span><span><img src="https://vungoi.vn/images/s-check.png">Thời gian làm: {{totalTime | number:'1.0-0'}} s</span>
					</div>
					<ul class="text-center margin-bottom-10">
						<li style="width: 300px;"><a
								routerLink="/bai-test-rut-gon-{{part}}"><img src="https://vungoi.vn/images/s-reload.png"><span class="bg-red clf">Luyện bài tập tương tự</span></a>
						</li>
					</ul>
				</div>
			</div>
			<div>
			</div>
		</div>
	</div>
</div>
<loading *ngIf="isLoading">{{ isLoading }}</loading>